---
title: 在有HTTP代理服务器的环境中使用cf CLI
owner: CLI
---

<strong><%= modified_date %></strong>

如果在你运行cf CLI的主机与Cloud Foundry API endpoint之间有HTTP代理服务器,
你必须用代理服务器的hostname或者IP地址来设定`https_proxy`.

`https_proxy`环境变量存有代理服务器的hostname或者IP地址.

`https_proxy`是个标准的环境变量
像其他环境变量一样, 设定的具体步骤决定于操作系统.

## <a id="format"></a>https_proxy的格式 ##

用代理服务器的hostname或者IP地址的URL格式设置`https_proxy`:
`https_proxy=http://proxy.example.com`

如果代理服务器需要用户名以及密码, 将其包含进URL:
`https_proxy=http://username:password@proxy.example.com`

如果代理服务器使用的端口不是80, 将端口包含进URL:
`https_proxy=http://username:password@proxy.example.com:8080`


## <a id="mac-linux"></a>在Mac OS 或Linux 中设定https_proxy ##

使用命令行特定的命令设置`https_proxy`环境变量.
例如, 在bash中, 使用`export`命令.

例子:
<pre class=terminal>
$ export https_proxy=http:/<span>/</span>my.proxyserver.com:8080
</pre>

添加命令到适当的profile文件,使环境变量的修改一直有效.
例如, 在bash中, 添加如下命令到`.bash_profile`或者`.bashrc`文件:

<pre class="detect-script"t>
  https_proxy=http://username:password@hostname:port
  export $https_proxy
</pre>

## <a id="windows"></a>在Windows中设置 https_proxy ##

1. 打开开始菜单. 右键**电脑**选择**属性**.
    <%= image_tag("./images/properties.png") %>

1. 在 系统 窗口的左面板, 点击**高级系统设置**.
    <%= image_tag("./images/adv-settings.png") %>

1. 在 系统属性 窗口, 选择**高级**标签, 点击**环境变量**.

    <%= image_tag("./images/env-var.png") %>

1. 在 环境变量 窗口, 用户变量下, 点击**新建**.

    <%= image_tag("./images/new.png") %>

1. 在 变量名 中, 输入`https_proxy`.
在 变量值 中, 输入你的代理服务器信息.

    <%= image_tag("./images/proxy.png") %>

1. 点击 **确定**.
